/*

Hoja de estilos principal
Autor:  Pedro Sicilia Marcelo


/*=========================================
            ÍNDICE CSS

    1. Estilos generales (body, links, márgenes de secciones, títulos, formatos de texto.. etc)
    2. 
    
*/


/* -------------- ESTILOS PRINCIPALES ---------------- */

body {
background-color: #fff;
color: #777;
font-family: "Roboto",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

body,
html { height: 100% }
a:link,
a:visited {
   
    text-decoration: none;
}

a { outline: none !important }
a:hover { text-decoration: none }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    line-height: 100%;
    margin: 0;
}

ul, ul li{
    list-style: none;
}
/* ---------------- MÁRGENES DE CONTENIDO ---------------------- */

.mg-bt-80 {
    margin-bottom: 80px;
}
.mg-bt-60 {
    margin-bottom: 60px;
}
.mg-bt-40 {
    margin-bottom: 40px;
}

.mg-tp-80 {
    margin-top: 80px;
}
.mg-tp-60 {
    margin-top: 60px;
}
.mg-tp-40 {
    margin-top: 40px;
}


/* ---------------- PRESENTACION ----------------- */ 
.titulo {
    color:white;
    font-family: 'Lobster', cursive;
    font-size:45px;
}

.cuenta a {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    margin-top:20px;
}

.cuenta a:hover{
    color:#337ab7;
}

.section-padding { padding: 60px 0 }
.no-padding { padding: 0 }

.single_welcome_title {
    color: #1cbac8;
    font-family: "Roboto Slab",sans-serif;
    letter-spacing: 1px;
	font-size:30px;
    text-transform: uppercase;
    
}

.title{
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.subtitulo {
    padding-bottom: 10px;
}

.botones{
    padding-top:30px;
}

.inner-box{
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px;
}


   

.single_welcome p {
color: #333;
font-family: "Berkshire Swash",sans-serif;
font-size: 16px;
line-height: 36px;
}

.icon_wrap {
    color: #222;
    display: inline-block;
    position: relative;
    padding: 10px 0;
}
.icon_wrap:before {
    position: absolute;
    content: '';
    background-color: #1cbac8;
    height: 2px;
    left: -30px;
    width: 100%;
    top: 50%;
}
.icon_wrap:after {
    position: absolute;
    content: '';
    background-color: #1cbac8;
    height: 2px;
    right: -30px;
    width: 100%;
    top: 50%;
}
.icon_wrap i {
    font-size: 22px;
    color: #1cbac8;
}
.icon_wrap_white:before {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 2px;
    left: -30px;
    width: 100%;
    top: 50%;
}
.icon_wrap_white:after {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 2px;
    right: -30px;
    width: 100%;
    top: 50%;
}
.navbar-brand{
    font-size: 30px;
    margin-top: -20px;
}

.slider_text{
    margin-top:60px;
    padding:40px;
    color:white;
}
.slider_overlay{
    margin-top:-20px;
    background: url(../images/background_overlay.png)repeat;
    height:650px;
    
}

.block{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: 0 50%;   
    top: 50%;
    left: 50%;
    background-size: cover;
    background:url(../images/acueducto.JPG);
}

#video-background { 
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: 0 50%;   
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    z-index: -100;
    background-size: cover;
    
}

.form-control{
    opacity:0.8;
}

/* -------------- NOSOTROS ---------------- */

.fondo {
    background: #f3f3f3 none repeat scroll 0 0;
    padding-top: 60px;
}

.single_feature {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    padding: 0 20px 20px;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.single_feature:hover {background:#1cbac8; -webkit-transform: translate3d(0px, -15px ,0px); transform: translate3d(0px, -15px ,0px) }
.single_feature i {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 24px;
    height: 60px;
    line-height: 64px;
    margin-top: -70px;
    text-align: center;
    -webkit-transition: all 0.6s ease-out 0s;
            transition: all 0.6s ease-out 0s;
    width: 60px;
}
.single_feature h4 {
    padding: 20px 0;
    text-transform: capitalize;
    font-weight: 600;
	  -webkit-transition: all 0.6s ease-out 0s;
            transition: all 0.6s ease-out 0s;
}  
.single_feature:hover h4{color:#fff;}
.single_feature p{ 
 -webkit-transition: all 0.6s ease-out 0s;
   transition: all 0.6s ease-out 0s;}
.single_feature:hover p{color:#fff;}
/* ---------------- ANUNCIATE ---------------------*/

.single-address { margin-bottom: 20px }
.single-address i {
    background: #506987 none repeat scroll 0 0;
    
    border-radius: 50px;
    color: #f7f8f9;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    text-align: center;
    width: 60px;
}
/* ---------------- FOOTER ------------------------ */
.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #222;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

#lista ul{
    list-style: none;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #121212;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

/** MODAL **/

.modal-footer{
    background:#e7e7e7;
}
.modal-header{
    background:#e7e7e7;
}
.modal { background: rgba(000, 000, 000, 0.8); min-height:1000000px; }


/* Important part */
.modal-dialog{
    overflow-y: initial !important;
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}

/*----- CONTENEDORES -----*/
.wrapper{
    clear:both;
    display:block;
    height:auto;
    overflow:auto;
    width:100%;
}

.item-list{
    padding: 15px;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
    clear: both;
    margin-bottom: 15px;
    box-shadow: 8px 8px 12px 0 #ccc, -8px -8px 12px 0 #337ab7;
}
.info-list{
    margin-top: 15px;
}
.titulo-list{
    position: initial;
    color: rgb(38,163,135);
    height: 22px;
    overflow: hidden;
    vertical-align: top;
    margin-top: 5px;
}
/** TABLAS **/

.registros{
    padding-bottom:100px;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }



/* --- GOOGLE MAPS ---*/

#map {
        height: 200px;
        width: 100%;
       }

/* ----- BUSCADOR ----*/

        .ui-autocomplete {
            max-height: 300px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        * html .ui-autocomplete {
            height: 300px;
        }

        .ui-autocomplete .ui-menu-item-wrapper {
            font-size: 15px;
            border-radius: 0;
            border-bottom: solid #eceff1 2px;
            padding: 10px;
            color: #000;
            background: #f9f9f9;
        }
        .ui-autocomplete .ui-menu-item {
            color: #000;
            background: #f9f9f9;
        }

        .ui-autocomplete .ui-menu-item:hover, .ui-menu-item-wrapper:hover {
            color: #fff;
            background: #a8a9d0;
        }

        .ui-menu .ui-state-focus,
        .ui-menu .ui-state-active {
         color: #fff;
            background: #967cfc;
            background: #a8a9d0;
            border: 0;
        }

/*----- Login y Registro ---*/

.aviso-error {
    color: darkred;
    background-color: #e29090;
    border-color: black;
}

.aviso-exito {
    color: darkolivegreen;
    background-color: darkseagreen;
    border-color: black;
}

.aviso {
    padding: 5px;
    margin-top:10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px
}

/*----- VALORACIONES ---*/

.stars{list-style:none;position:relative;margin:0;padding:0}
	.voted{cursor:default !important}
	.stars-16{width:70px}
	.stars-24{width:110px}
	.stars-32{width:140px}
	
.stars:hover div{display:none}
.ul_voted:hover div{display:block !important}
	
.stars li {display:block;float:left;background-repeat:no-repeat;cursor:pointer;text-indent:-9999em;margin:0;padding:0;}
.stars-16 li{background-image:url(../images/stars-16.png);width:14px;height:15px;}
.stars-16 li:hover{width:14px;height:15px;background-position:0 -15px}
.stars-24 li{background-image:url(../images/stars-24.png);width:22px;height:21px;background-position:0 0}
.stars-24 li:hover{width:22px;height:21px;background-position:0 -21px}

			
.stars div{display:block;background-repeat:repeat-x;position:absolute;left:0;top:0;z-index:102}
.votes-16{background-image:url(stars-16.png);background-position:0 -15px;height:15px}
.votes-24{background-image:url(stars-24.png);background-position:0 -21px;height:21px}
.votes-32{background-image:url(stars-32.png);background-position:0 -27px;height:27px}
		
.stars span{float:left;font-size:11px;padding:2px 0 0 0;text-align:center;font-family:sans-serif;width:100%}

/* CATEGORIAS */
.item-categoria{
    
    position: relative;
    display: inline-block;
    font-size: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 25px;
    width: 17%;
    height: 180px;
    background: #f3f2f2;
    border-radius: 5px;
    padding: 0;
    z-index: 1;
}

.cuadro-categoria{
    display: block;
    margin: 10px auto;
    font-size: 50px;
    text-align: center;
    z-index:2;
}

.nombre-categoria{
    font-size: 15px;
    display: block;
    text-align: center;
    line-height: 11px;
    padding: 20px 10px;
    color: #737980;
    font-weight: 600;
}


.cuadro-categoria a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    color:#009F97;
  
   
    text-align: center;
}

.icono-categoria{
    display: block;
    margin: 10px auto;
    font-size: 62px;
    text-align: center;
}

.hover-grow{
    
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.lista-subcategorias{
    margin: 0 0 30px 0;
}
.lista-subcategorias ul.list{
    margin: 15px 0 0 0;
    border-top: 1px solid #efefef;
    padding: 10px 0 0 0;
}

.lista-subcategorias ul.list li{
    padding: 4px 0 4px 0;
    margin: 0 0 0 20px;
}

.lista-subcategorias i{
    cursor: pointer;
    border-radius: 35px;
    height: 35px;
    width: 35px;
    display: inline-block;
    padding: 0;
    vertical-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    background: #009F97;
}

.lista-categoria-titulo{
    font-size: 20px;
    margin: 0 0 0 15px;
    color: #333;
}
.hover-grow:hover,
.hover-grow:focus,
.hover-grow:active {
    transform: scale(1.1);
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}

/*------ LISTADO ANUNCIOS --------------*/

.listado-anuncios{
    padding-left: 15px;
    border: solid 1px #d9d9d9;
    
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 25px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.listado-anuncios:hover {
    background: #fafafa;
}


.listado-titulo{
    margin-top: 0;
}
.listado-titulo a{
    color: #009F97;
    text-decoration: none;
    font-size:18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.listado-ubicacion{
    margin-right: 5px;
    color: #999;
}
.listado-favorito{
    text-align:right;
}

.listado-categoria{
    text-transform: uppercase;
}
.fav{
    color: #999;
}

.fav:hover{
    color:orangered;
}